.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}  







@media only screen and (min-width: 1601px) { }

@media only screen and (max-width: 1600px) { }

@media only screen and (max-width: 1024px) and (orientation: landscape) { }

/* Apparently doesn't register on my phone which has a width of 1440px */
@media only screen and ((min-width: 480px) and (max-width: 1440px) and (orientation: portrait) { 

    html { 
		font-size: 10px	
	}
	
	#projects {
	grid-area: projects;
	height: 1em;
	}
	
	.container {
	display: grid;
	width: 98%;
	position: relative;
	margin: auto;
	grid-template-areas: "prof_pic_div about_me"
						 "projects projects"
						 "p1_title p1_title"
						 "p1_desc p1_desc"
						 "p1_tech p1_tech"
						 "p2_title p2_title"
						 "p2_desc p2_desc"
						 "p2_tech p2_tech"
						 "p3_title p3_title"
						 "p3_desc p3_desc"
						 "p3_tech p3_tech"
						 "interests networks";
	grid-template-rows: 200px auto auto auto auto auto auto auto auto auto auto 200px;
	grid-template-columns: 1fr 1fr;
    }
	
	.field_section {
		visibility: none !important;
		border: 0px none transparent;
	}
	
}

@media only screen and (max-width: 786px) { 

   
	
    html { 
		font-size: 10px	
	}
	
	#projects {
	grid-area: projects;
	height: 1em;
	}
	
	.container {
	display: grid;
	width: 98%;
	position: relative;
	margin: auto;
	grid-template-areas: "prof_pic_div about_me"
						 "projects projects"
						 "p1_title p1_title"
						 "p1_desc p1_desc"
						 "p1_tech p1_tech"
						 "p2_title p2_title"
						 "p2_desc p2_desc"
						 "p2_tech p2_tech"
						 "p3_title p3_title"
						 "p3_desc p3_desc"
						 "p3_tech p3_tech"
						 "interests networks";
	grid-template-rows: 200px auto auto auto auto auto auto auto auto auto auto 200px;
	grid-template-columns: 1fr 1fr;
    }
	
	.field_section {
		visibility: none !important;
		border: 0px none transparent;
	}
}

@media only screen and (max-width: 480px) { }